# Potentiel ENR

https://opendata.reseaux-energies.fr/ 

Ce jeu de données présente le rayonnement solaire global (W/m2) et la vitesse du vent à 100 mètres (m/s), par région administrative française, depuis le 1er janvier 2016 jusqu'au 31 décembre 2017, et pour plusieurs moments de la journée (0h, 3h, 6h, 9h, 12h, 15h, 18h 21h UTC ; les heures fournies sont en heure locale). 

Il s'agit de moyennes régionales de données estimées à partir de points de grille du modèle de prévision déterministe du Centre Européen de Prévisions Météorologiques à Moyen Terme (CEPMMT). Les moyennes ne sont pas pondérées en fonction de l'emplacement des parcs (éoliens ou solaires).

** On dirait qu'il y a 2 ans de données : 8 par jour x 365 x 2 **

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/odre/rayonnement-solaire-vitesse-vent-tri-horaires-regionaux.csv', 
                 decimal='.', sep=';', encoding='utf-8', 
                 dtype={'Vitesse du vent à 100m (m/s)': float, 'Rayonnement solaire global (W/m2)': float})

df = df.rename(columns={'Vitesse du vent à 100m (m/s)': 'vent', 'Rayonnement solaire global (W/m2)': 'rayonnement'})
df.head(3)

,Date,Code INSEE région,Région,vent,rayonnement
0,2016-01-02T01:00:00+01:00,27,Bourgogne-Franche-Comté,7.30,0.0
1,2016-01-01T22:00:00+01:00,84,Auvergne-Rhône-Alpes,3.95,0.0
2,2016-01-02T04:00:00+01:00,84,Auvergne-Rhône-Alpes,3.70,0.0

Problème lors de la conversion de float vers str :

```
Code INSEE région	vent_m	vent_c	rayonnement_m	rayonnement_c
0	11	0 5.779531\n1 5.716805\n2 4.797985...	5847	0 133.813390\n1 141.360619\n2 144....	5847
1	24	0 5.779531\n1 5.716805\n2 4.797985...	5847	0 133.813390\n1 141.360619\n2 144....	5847
2	27	0 5.779531\n1 5.716805\n2 4.797985...	5847	0 133.813390\n1 141.360619\n2 144....
```

In [3]:
dfg = df.groupby('Code INSEE région').mean()
dfg.head()

                       vent  rayonnement
Code INSEE région
11                 5.779531   133.813390
24                 5.716805   141.360619
27                 4.797985   144.478830
28                 6.616870   140.286824
32                 6.044897   133.766323

In [4]:
for i,r in dfg.iterrows():
    print ("('" , i , "','" , r['rayonnement'] , "','" , r['vent'] , "'),")

(' 11 ',' 133.813389773 ',' 5.77953138362 '),
(' 24 ',' 141.360619121 ',' 5.71680519925 '),
(' 27 ',' 144.478830169 ',' 4.7979852916 '),
(' 28 ',' 140.286824012 ',' 6.61687018984 '),
(' 32 ',' 133.766322901 ',' 6.04489652813 '),
(' 44 ',' 136.903417137 ',' 4.72769283393 '),
(' 52 ',' 149.768842141 ',' 6.67300838037 '),
(' 53 ',' 144.757761245 ',' 7.15438002394 '),
(' 75 ',' 158.851691466 ',' 4.77715238584 '),
(' 76 ',' 170.631968531 ',' 6.65297246451 '),
(' 84 ',' 160.322408073 ',' 3.41720711476 '),
(' 93 ',' 187.997313152 ',' 5.37029074739 '),
(' 94 ',' 190.889548486 ',' 4.79607833077 '),

In [12]:
df2 = dfg
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 11 to 94
Data columns (total 2 columns):
vent           13 non-null float64
rayonnement    13 non-null float64
dtypes: float64(2)
memory usage: 312.0 bytes

In [13]:
df2[['vent', 'rayonnement']] = df[['vent', 'rayonnement']].astype(str)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 11 to 94
Data columns (total 2 columns):
vent           13 non-null object
rayonnement    13 non-null object
dtypes: object(2)
memory usage: 208.0+ bytes

In [14]:
df2.head()

                   vent rayonnement
Code INSEE région
11                 5.02        2.79
24                  3.1      630.04
27                 4.38      252.43
28                 3.32      199.26
32                 3.28         0.0

In [5]:
df3 for i,r in df2.iterrows():
    df2.set_value(i, 'vent', repr(r['vent']))
    df2.set_value(i, 'rayonnement', repr(r['rayonnement']))

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 11 to 94
Data columns (total 2 columns):
vent           13 non-null float64
rayonnement    13 non-null float64
dtypes: float64(2)
memory usage: 824.0 bytes

In [15]:
dfg = dfg.reset_index()
dfg.columns = dfg.columns.get_level_values(0)
dfg.columns = ['Code INSEE région', 'vent_m', 'vent_c', 
               'rayonnement_m', 'rayonnement_c']
dfg = dfg.fillna('')
dfg.head()

   Code INSEE région    vent_m  vent_c  rayonnement_m  rayonnement_c
0                 11  5.779531    5847     133.813390           5847
1                 24  5.716805    5847     141.360619           5847
2                 27  4.797985    5847     144.478830           5847
3                 28  6.616870    5847     140.286824           5847
4                 32  6.044897    5847     133.766323           5847

In [5]:
dfg['vent_m'] = repr(dfg['vent_m'])
dfg['rayonnement_m'] = str(dfg['rayonnement_m'])
dfg.head()

,Code INSEE région,vent_m,vent_c,rayonnement_m,rayonnement_c
0,11,0 5.779531\n1 5.716805\n2 4.797985...,5847,0 133.813390\n1 141.360619\n2 144....,5847
1,24,0 5.779531\n1 5.716805\n2 4.797985...,5847,0 133.813390\n1 141.360619\n2 144....,5847
2,27,0 5.779531\n1 5.716805\n2 4.797985...,5847,0 133.813390\n1 141.360619\n2 144....,5847
3,28,0 5.779531\n1 5.716805\n2 4.797985...,5847,0 133.813390\n1 141.360619\n2 144....,5847
4,32,0 5.779531\n1 5.716805\n2 4.797985...,5847,0 133.813390\n1 141.360619\n2 144....,5847

# To SQL

In [8]:
import pymysql.cursors

connection = pymysql.connect( host='localhost',
                              user='root',
                              passwd='root',
                              db='energie',
                              charset='utf8mb4',
                              cursorclass=pymysql.cursors.DictCursor)

cursor = connection.cursor()

In [15]:
# fillna(' ')
# read_csv dtype str
# limiter la taille de la chaine envoyée[:n] 

with connection.cursor() as cursor:
    
    sql = ("INSERT INTO region_rayonnement_vent "
           " ( code_insee_region, rayonnement, vent)"
           "VALUES (%s, %s, %s)"
          )

    for i, r in dfg.iterrows():
        
        rayonnement = str(r['rayonnement']) + ''
        vent = str(r['vent']) + ''
        
        cursor.execute(sql, 
                       (i, 
                        rayonnement[:10], 
                        vent[:10])
                      )

connection.commit()

AttributeError: 'numpy.int64' object has no attribute 'translate'